
@{
    ViewBag.Title = "About";
}

<h2>ViewData data is = @ViewData["Var1"]</h2>
<h2>ViewBag data is = @ViewBag.Var2</h2>
<h2>TempData data is = @TempData["Var3"]</h2>
<h2>Session data is = @Session["Var4"]</h2>

